@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

:root {
    --fonte01: Verdana, Geneva, Tahoma, sans-serif;
    --fonte02: 'DM Serif Display', serif;    --fonte03: 'Caveat', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte01);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding: 50px 0px 0px 0px;
    font-variant: small-caps;
    font-size: 12vw;
    font-family: var(--fonte02);
}

header > p {
    padding: 0px 0px 50px 0px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding: 10vh 0vh 10vh 4vh;
    line-height: 2em;
    font-family: var(--fonte03);
    font-size: 3.5vw;
}

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: #8c8c8c6f;
    color: white;
    box-shadow: inset 6px 6px 13px 0px #0000007d;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    background-color: #222222bc;
    display: inline-block;
    padding: 15px;
    text-shadow: 1px 1px 0px #0000006a;
}

section#img01 {
    background-image: url(imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(imagens/background002.jpg);
    background-position: right center;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 2vw;
}